@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

:root.light {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
}

:root.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 210 40% 98%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compatible-devices-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
  will-change: transform;
}

.compatible-devices-swiper {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}